.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.resetButton {
  margin-top: 0.5rem;
  border: none;
  background-color: rebeccapurple;
  color: white;
  padding: 0.8rem;
  border-radius: 5px;
}
