.game {
}
.game-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0;
}

.game-info {
  margin: 0 1rem;
  padding: 0;
  overflow: auto;
}

.game-info ol {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
.game-bg {
  z-index: -4;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url(https://i.pinimg.com/originals/5d/97/b8/5d97b8478ab7fefd6af1b85225640e6d.jpg);
  filter: blur(8px);
}

.historyButton {
  padding: 0.5rem;
  width: 100%;
}
