.square {
  background-color: var(--action);
  border: 0.5px solid rgb(187 16 216);
  font-size: 2rem;
  line-height: 2.5rem;
  height: 40px;
  width: 40px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
