.square {
  background-color: transparent;
  border: 1px solid #999;
  float: left;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
  height: 3rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 3rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
