*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: dimgray;
  width: 100vw;
  height: 100vh;
}

ol,
ul {
  padding-left: 30px;
}
